@use "Config" as *;

.buttonBox {
	position: relative;
	inset-inline-end: 11px;
	display: inline-flex;
	width: 100%;
	max-width: 100%;
	margin-top: 32px;
	box-sizing: border-box;
	place-content: flex-end end;
}

.button {
	position: relative;
	display: block;
	width: auto; /* fit-content */
	min-width: max(10%, 100px);
	max-width: 100%;
	margin-inline-start: 12px;
	padding: 8px 16px;
	text-align: center;
	font-size: $Type-Button-Regular;
	font-family: inherit;
	text-decoration: none;
	color: $Color-Text-Main;
	background-color: $Color-Accent;
	border: 1px solid $Color-Accent;
	border-radius: 48px;
	outline: 0;
	transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
	box-sizing: border-box;
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;

	&.low {
		// color: $Color-Accent;
		background-color: transparent;
		border: 2px solid transparent;
	}
	&.filled {
		color: $Color-Body-Light;
		background-color: $Color-Accent;
		border-color: $Color-Accent;
	}
	&.secondary,
	&.outlined {
		color: $Color-Accent;
		background-color: transparent;
		border: 1px solid $Color-Accent;
	}
	&.larger {
		width: 15%;
	}
	&.red {
		background-color: $Color-Red;
		border: 2px solid $Color-Red;

		&:focus {
			color: $Color-Red;
			background-color: $Color-Text-Main;
			border-color: $Color-Text-Main;
		}
	}
	&:disabled,
	&.disabled {
		opacity: 0.75;
		background-color: $Color-Text-Secondary-Dark;
		border-color: $Color-Text-Secondary-Dark;
		cursor: default;
	}
	&:hover {
		box-shadow: $Hover-Lighten-5;
	}
	&:focus {
		color: $Color-Accent;
		background-color: $Color-Text-Main;
	}

	@include mobile {
		width: max-content;

		&.larger {
			width: 64%;
		}
	}
}

.buttonLarge {
	position: relative;
	display: inline-block;
	width: 18%;
	margin: 1%;
	margin-inline-start: 12px;
	padding: 8px 16px;
	text-align: center;
	font-size: 1rem;
	font-weight: 600;
	font-family: inherit;
	text-decoration: none;
	color: $Color-Text-Main;
	background-color: $Color-Accent;
	border: 2px solid $Color-Accent;
	border-radius: 16px;
	outline: 0;
	transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
	box-sizing: border-box;
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;

	&:focus {
		color: $Color-Accent;
		background-color: $Color-Text-Main;
	}
	&:hover {
		box-shadow: $Hover-Lighten-5;
	}
	&.active {
		color: $Color-Accent;
		background-color: $Color-Text-Main;
		cursor: default;
	}

	@include mobile {
		width: 48%;
		margin: 1%;
	}
}

.buttonLargeList {
	@include GridTemplateRepeat(13rem, 10px);
}

.pageAddButton {
	position: relative;
	display: inline-block;
	width: auto;
	min-width: 100px;
	vertical-align: middle;
	margin-inline-start: 12px;
	padding: 8px 16px;
	text-align: center;
	font-size: 1rem;
	font-family: inherit;
	color: $Color-Text-Main;
	background-color: $Color-Accent;
	border-radius: 48px;
	transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
	box-sizing: border-box;

	&:hover {
		box-shadow: $Hover-Lighten-5;
	}
	&:focus {
		color: $Color-Accent;
		background-color: $Color-Text-Main;
	}
}
